<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<appender name="console_color" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log_console_level}</level>
        </filter>
		<withJansi>true</withJansi>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date{ISO8601} %5p [%c] [%X{operation}] - %m %X{stackTrace}%n</pattern>
		</encoder>
	</appender>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log_console_level}</level>
        </filter>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date{ISO8601} %5p [%c] [%X{operation}] - %m %X{stackTrace}%n</pattern>
		</encoder>
	</appender>
	<appender name="LocalLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/migration.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			
			<fileNamePattern>./logs/migration%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			
			<maxHistory>20</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date{ISO8601} %5p [%X{businessTransactionId}] [%X{orderRef}] [%X{engineName}] [%c] [%X{operation}] - %m %X{stackTrace}%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.statemachine.support.LifecycleObjectSupport" level="ERROR" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="LocalLogFileAppender"/>
	</logger>
	<logger name="com.tibco" level="INFO" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="LocalLogFileAppender"/>
	</logger>
	<logger name="org.springframework.boot.web.embedded.tomcat.TomcatWebServer" level="INFO" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="LocalLogFileAppender"/>
	</logger>
	<root level="ERROR">
		<appender-ref ref="console"/>
		<appender-ref ref="LocalLogFileAppender"/>
	</root>	
</configuration>